@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a class="btn btn-primary" asp-action="ExportarPersonasAExcel">Descargar excel de personas</a>

</div>

<form method="post" asp-action="ImportarPersonasDesdeExcel" enctype="multipart/form-data">
    <div>
        <input type="file" name="excel" id="excel" />
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
</form>